# Перевыпуск истекших SSL-сертификатов каждый день в 23:00
# Если SSL-сертификат был перевыпущен, то перезагружает Nginx
0 23 * * *   root    certbot renew --quiet --post-hook "docker exec nginx nginx -s reload"
